{% load django_bootstrap5 %}
{% load static %}

<html lang="ja">
<style>
h1{
text-align: center;
font-size:5em;
text-align:center;
line-height:0.95em;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>パスワード再設定</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon_ver_2.ico' %}">
</head>
<body style="background-color:">
    <h1>パスワード再設定</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div align="center"><p>パスワードリセット用メールを送信します。</p></div>

    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}

            <div align="center">{% bootstrap_form form %}</div>

        <div align="center"><button class="btn btn-primary" type="submit">送信</button></div>
    </form>
</body>
</html>
