{% extends 'base.html' %}
{% load static %}

{% block title %}#me+{% endblock %}
{% block contents %}
<head>
    <meta charset="UTF-8">
    <title>#me+</title>
</head>
<section class="">
  <div class="container">
            <div class="">
                <h1>月額会員にアップグレード</h1><br>
                <form class="member">
                    <li>月額料金(3,500円)はカード引き落とし日に引き落としされます。</li>
                    <li>月額会員退会は退会申請された翌月に退会完了(フリープラン:無料)になります。</li>
                    <li>月の途中で退会されても、月末まで利用できます。</li>
                    <li>加入(購入)をキャンセルしたい場合は、(メニュー→お問い合わせ)から詳細を記載して送信していただいて 対応させていただきます。</li>
                    <button type="submit">購入</button>
                </form>
            </div>
  </div>
</section>
{% endblock %}
