<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>通報画面</title>

</head>
<body>




<h1 style=" text-align:center; height:60px; line-height:60px;">通報詳細問題をお知らせください</h1>

<div style=" text-align:center; height:60px; line-height:60px;">

<input type="radio" name="q" value="q1"> プロフィール写真に攻撃的な内容や暴言、脅迫、差別が含まれる
<br>
<input type="radio" name="q" value="q2"> 自慰行為や自殺の意思をほのめかしている
<br>
<input type="radio" name="q" value="q3">私やほかの利用者のなりすましをしている
<br>
<input type="radio" name="q" value="q4">不審な内容、スパムである
<br>
<input type="radio" name="q" value="q5">不適切または攻撃的な内容を含んでいる
<br>
<input type="radio" name="q" value="q6">センシティブな画像、発言が含まれている
<br>
<button type="submit" name="report">通報する</button>

</div>


</body>
</html>